section.about#about
    .container-right
        .swiper-2
            .swiper-wrapper.about__wrapper
                .swiper-slide 
                    +about-card("Лед", "img-1.jpg" )
                        p Размер поля 26х56. Поверхность генерируется холодильным оборудованием "Название", а в основании охлаждаемая бетонная плита, что создает гладкий, ровный лед с необходимой температурой и влажностью. 
                .swiper-slide 
                    +about-card("Зал", "img-2.jpg" )
                        p Зал высотой 12,5 м оборудован высокотехнологичной приточно-вытяжной системой вентиляции и осушения воздуха. Она поддерживает температуру и влажность воздуха, а также предотвращает образования тумана. 
                .swiper-slide 
                    +about-card("Свет", "img-3.jpg" )
                        p В зале установлено светодиодное оборудование для равномерного и комфортного освещения ледовой поверхности. 
                .swiper-slide 
                    +about-card("Звук", "img-4.jpg" )
                        p Для комфорта игроков во время занятий и зрителей мероприятий установлено электронное табло и светомузыкальное оборудование. 
                .swiper-slide 
                    +about-card("Раздевалки", "img-5.jpg" )
                        p Раздевалки оборудованы санузлами, душевыми кабинами, приточной вентиляцией и зарядками мобильных устройств для каждого игрока.
                .swiper-slide 
                    +about-card("Тренажерный зал", "img-6.jpg" )
                        p Комплекс оборудован тренажерным залом  с боксерскими грушами
                .swiper-slide 
                    +about-card("Зона спа", "img-7.jpg" ).swiper-slide
                        p СПА, бассейн и баня удобно расположены внутри комплекса.
            .about-slider__controls 
                button.offer-slider__arrow.about-slider__arrow--left
                    img(src="./img/offer/arrow-left.svg", alt="")
                button.offer-slider__arrow.about-slider__arrow--right
                    img(src="./img/offer/arrow-right.svg", alt="")