section.benefits#benefits
    .container
        .benefits__title 
            h2.title-2 наши преимущества
        .benefits__box 
            .benefit 
                h4.benefit__title Высокий#[br]потолок
                .benefit__img  
                    img(src="./img/benefits/benefit-1.svg", alt="Высокий потолок")
            .benefit 
                h4.benefit__title добро&shy;желательный#[br]персонал
                .benefit__img  
                    img(src="./img/benefits/benefit-2.svg", alt="доброжелательный персонал")
            .benefit 
                h4.benefit__title даем#[br]допинвен&shy;тарь
                .benefit__img  
                    img(src="./img/benefits/benefit-3.svg", alt="даем допинвентарь")
            .benefit 
                h4.benefit__title раздевалка#[br]открывается за час
                .benefit__img  
                    img(src="./img/benefits/benefit-4.svg", alt="раздевалка открывается за час")
            .benefit 
                h4.benefit__title Парковка#[br]рядом
                .benefit__img  
                    img(src="./img/benefits/benefit-5.svg", alt="Парковка рядом")
            .benefit 
                h4.benefit__title зона спа,#[br]сауна
                .benefit__img  
                    img(src="./img/benefits/benefit-6.svg", alt="зона спа, сауна")