section.contacts#contacts
    .container 
        .contacts__wrapper 
            .contacts__title 
                h2.title-2.title-2--big Контакты
            .contacts__box 
                .contacts__address 
                    p Москва, Волоколамское шоссе, д. 88
                .contacts__links 
                    a(href="tel:74956020232") Тел: 8&nbsp;495&nbsp;602&nbsp;02&nbsp;32
                    .contacts__links-separator
                    a(href="mailto:aolkluch@yandex.ru") Почта: aolkluch@yandex.ru
    .contacts__arrow-down 
        img(src="./img/contacts/arrow-down.svg", alt="")