section.events#events
    .container 
        .events__title 
            h2.title-2 события
        .swiper-4
            .swiper-wrapper.events__wrapper  
                .swiper-slide
                    .events__slide 
                        .event 
                            .event__date 12–14
                                span апреля 
                            .event__separator 
                                img(src="./img/events/separator.svg", alt="")
                            .event__name
                                span День открытых дверей
                        .event 
                            .event__date 20–24
                                span февраля
                            .event__separator 
                                img(src="./img/events/separator.svg", alt="")
                            .event__name
                                span Открытая тренировка
                .swiper-slide
                    .events__slide 
                        .event 
                            .event__date 12–14
                                span апреля 
                            .event__separator 
                                img(src="./img/events/separator.svg", alt="")
                            .event__name
                                span День открытых дверей
                        .event 
                            .event__date 20–24
                                span февраля
                            .event__separator 
                                img(src="./img/events/separator.svg", alt="")
                            .event__name
                                span Открытая тренировка
                .swiper-slide
                    .events__slide 
                        .event 
                            .event__date 12–14
                                span апреля 
                            .event__separator 
                                img(src="./img/events/separator.svg", alt="")
                            .event__name
                                span День открытых дверей
                        .event 
                            .event__date 20–24
                                span февраля
                            .event__separator 
                                img(src="./img/events/separator.svg", alt="")
                            .event__name
                                span Открытая тренировка
        .events-slider__controls 
            button.events-slider__arrow.events-slider__arrow--left
                img(src="./img/offer/arrow-left.svg", alt="")
            button.events-slider__arrow.events-slider__arrow--right
                img(src="./img/offer/arrow-right.svg", alt="")