section.gallery#gallery
    .container 
        .gallery__title 
            h2.title-2 галерея    
    .swiper-3
        .swiper-wrapper.gallery__wrapper  
            .swiper-slide
                .gallery__item
                    img(src="./img/gallery/img-1.jpg", alt="галерея")
            .swiper-slide
                .gallery__item.gallery__item--min
                    img(src="./img/gallery/img-2.jpg", alt="галерея")
            .swiper-slide
                .gallery__item
                    img(src="./img/gallery/img-3.jpg", alt="галерея")
            .swiper-slide
                .gallery__item.gallery__item--min
                    img(src="./img/gallery/img-4.jpg", alt="галерея")
            .swiper-slide
                .gallery__item.gallery__item--min
                    img(src="./img/gallery/img-5.jpg", alt="галерея")
            .swiper-slide
                .gallery__item
                    img(src="./img/gallery/img-1.jpg", alt="галерея")
            .swiper-slide
                .gallery__item.gallery__item--min
                    img(src="./img/gallery/img-2.jpg", alt="галерея")
    .container 
        .gallery-slider__controls 
            button.offer-slider__arrow.gallery-slider__arrow--left
                img(src="./img/offer/arrow-left.svg", alt="")
            button.offer-slider__arrow.gallery-slider__arrow--right
                img(src="./img/offer/arrow-right.svg", alt="")