section.offer 
    .container-right
        .offer__row 
            .offer__desc 
                .offer__text 
                    p Мы предлагаем ледовую площадку для тренировок по хоккею и занятий фигурным катанием
                button.btn оставить заявку
            .swiper-1
                .swiper-wrapper.offer-slider__wrapper 
                    .swiper-slide
                        .offer-slider__item
                            img(src="./img/offer/img-1.jpg", alt="Мы предлагаем ледовую площадку") 
                    .swiper-slide
                        .offer-slider__item
                            img(src="./img/offer/img-2.jpg", alt="Мы предлагаем ледовую площадку") 
                    .swiper-slide
                        .offer-slider__item
                            img(src="./img/offer/img-1.jpg", alt="Мы предлагаем ледовую площадку") 
                    .swiper-slide
                        .offer-slider__item
                            img(src="./img/offer/img-2.jpg", alt="Мы предлагаем ледовую площадку") 
    .container 
        .offer-slider__controls 
            button.offer-slider__arrow.offer-slider__arrow--left
                img(src="./img/offer/arrow-left.svg", alt="")
            button.offer-slider__arrow.offer-slider__arrow--right
                img(src="./img/offer/arrow-right.svg", alt="")


        