section.opportunity#opportunity 
    .container 
        .opportunity__wrapper 
            .opportunity__title 
                h2.title-2 возможности
            .opportunity__connent 
                .opportunity__card 
                    .opportunity__card-title
                        h4 заточка#[br]коньков
                    .opportunity__card-img
                        img(src="./img/opportunity/card-1.svg", alt="заточка коньков")
                .opportunity__card 
                    .opportunity__card-title
                        h4 КАФЕ
                    .opportunity__card-img
                        img(src="./img/opportunity/card-2.svg", alt="кафе")
                .opportunity__card 
                    .opportunity__card-title
                        h4 Сушилка
                    .opportunity__card-img
                        img(src="./img/opportunity/card-3.svg", alt="сушика")
                .opportunity__card 
                    .opportunity__card-title
                        h4 ПРОВЕДЕНИЕ МЕРОПРИЯТИЙ
                    .opportunity__card-img
                        img(src="./img/opportunity/card-4.svg", alt="проведение мероприятий")
    .opportunity__reservation
        .opportunity__reservation-title 
            h3.title-3 забронируйте лед
            span прямо сейчас
        .opportunity__reservation-btn
            button.btn.btn--blue.reserve-btn оставить заявку 

                