section.reviews#reviews
    .container-right 
        .reviews__wrapper
            .reviews__title 
                h2.title-2 отзывы
            .rewiews__box 
                .swiper-5  
                    .swiper-wrapper 
                        .swiper-slide 
                            .review 
                                .review__header 
                                    .review__decor 
                                        img(src="./img/reviews/review-decor.svg", alt="")
                                    .review__user-name павел К.
                                p.review__text Очень крутой лед! Много воздуха, отличные раздевалки. Все зашло. 
                        .swiper-slide 
                            .review 
                                .review__header 
                                    .review__decor 
                                        img(src="./img/reviews/review-decor.svg", alt="")
                                    .review__user-name Алексанрд О.
                                p.review__text Удобное местоположение. Быстро нашли взаимопонимание с сотрудниками. Отлично провели тренировку, площадка норм
                        .swiper-slide 
                            .review 
                                .review__header 
                                    .review__decor 
                                        img(src="./img/reviews/review-decor.svg", alt="")
                                    .review__user-name павел К.
                                p.review__text Очень крутой лед! Много воздуха, отличные раздевалки. Все зашло. 
                        .swiper-slide 
                            .review 
                                .review__header 
                                    .review__decor 
                                        img(src="./img/reviews/review-decor.svg", alt="")
                                    .review__user-name Алексанрд О.
                                p.review__text Удобное местоположение. Быстро нашли взаимопонимание с сотрудниками. Отлично провели тренировку, площадка норм
                        .swiper-slide 
                            .review 
                                .review__header 
                                    .review__decor 
                                        img(src="./img/reviews/review-decor.svg", alt="")
                                    .review__user-name павел К.
                                p.review__text Очень крутой лед! Много воздуха, отличные раздевалки. Все зашло. 
                        .swiper-slide 
                            .review 
                                .review__header 
                                    .review__decor 
                                        img(src="./img/reviews/review-decor.svg", alt="")
                                    .review__user-name Алексанрд О.
                                p.review__text Удобное местоположение. Быстро нашли взаимопонимание с сотрудниками. Отлично провели тренировку, площадка норм
        .reviews__slider-arrows.slider-arrows 
            button.slider-arrows__arrow.reviews__slider-arrow--left
                img(src="./img/offer/arrow-left.svg", alt="")
            button.slider-arrows__arrow.reviews__slider-arrow--right
                img(src="./img/offer/arrow-right.svg", alt="")