nav.mobile-nav 
    ul.nav
        li.nav__item 
            a(href="#about") мы
        li.nav__item 
            a(href="#opportunity") возможности 
        li.nav__item 
            a(href="#benefits") преимущества
        li.nav__item 
            a(href="#gallery") галерея
        li.nav__item 
            a(href="#events") события
        li.nav__item 
            a(href="#reviews") Отзывы
        li.nav__item 
            a(href="#contacts") Контакты
    .mobile-nav__footer
        .mobile-nav__socials
            .mobile-nav__socials-title Мы в соцсетях:
            ul.mobile-nav__socials-list
                li
                    a(href="#!") VK
                li
                    a(href="#!") OK
                li
                    a(href="#!") Telegram
        .mobile-nav__separator
        .mobile-nav__address
            p Москва,#[br] Волоколамское шоссе, д.88