header.header.header--thankyou 
    nav.mobile-nav
        ul.nav 
            li.nav__item 
                a(href="#!") мы
            li.nav__item 
                a(href="#!") возможности 
            li.nav__item 
                a(href="#!") преимущества
            li.nav__item 
                a(href="#!") галерея
            li.nav__item 
                a(href="#!") события
            li.nav__item 
                a(href="#!") Отзывы
            li.nav__item 
                a(href="#!") Контакты
        .mobile-nav__footer 
            .mobile-nav__socials 
                h5.mobile-nav__socials-title Мы в соцсетях:
                ul.mobile-nav__socials-list
                    li
                        a(href="#!") VK
                    li
                        a(href="#!") OK
                    li
                        a(href="#!") Telegram
            .mobile-nav__separator
            .mobile-nav__address
                p Москва,#[br]Волоколамское шоссе, д.88

    .header__row 
        .header__row-link 
            button.header__row-btn.header__row-btn--desktop Забронировать лед
            button.header__row-btn.header__row-btn--mobile Бронь льда
        .header__nav
            button.mobile-nav-btn.mobile-nav-btn--thankyou 
                .nav-icon
        .header__row-link.header__row-phone 
            a(href="tel:74956020232") 8 495 602 02 32
    .header__content 
        .header__logo 
            img(src="./img/thankyou/logo.svg", alt="Ледовый комплекс ЛУЧ").logo
        .header__title 
            h1.title-1 Спасибо!
        .header__text
            p Ваша заявка отправлена.#[br]В ближайшее время с вами свяжется#[br]менеджер по указанным контактным#[br]данным
        .header__btn 
            a(href="./index.html").btn.btn--blue на главную
