.contacts {
    min-height: clamp(428px, 23.662rem + 15.44vw, 675px);
    padding-top: clamp(162px, 8.075rem + 10.25vw, 326px);
    margin-top: clamp(-300px, -19.438rem + 3.44vw, -245px);
    background-image: url("./../img/contacts/contacts-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    color: var(--white);
}



.contacts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Mobile */
    @include mobile {
        grid-template-columns: 1fr;
        gap: 34px;
    }
}

.contacts__title {}

.contacts__box {
    font-size: clamp(18px, 0.95rem + 0.88vw, 32px);
    line-height: 1.2;
    // letter-spacing: 5px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
}

.contacts__address {
    margin-bottom: 18px;
    /* Mobile */
    @include mobile {
        margin-bottom: 23px;
    }
}

.contacts__links {
    display: flex;
    align-items: center;
    gap: clamp(11px, 0.325rem + 1.81vw, 40px);
    /* Mobile XS */
    @include mobile-xs {
        flex-direction: column;
        align-items: flex-start;
    }
}

.contacts__links-separator {
    height: 0.6em;
    width: 2px;
    background-color: var(--white);
    /* Mobile XS */
    @include mobile-xs {
        width: 23px;
        height: 2px;
    }
}

.contacts__arrow-down {
    width: clamp(63px, 3.65rem + 1.44vw, 86px);
    height: clamp(22px, 1.275rem + 0.5vw, 30px);  
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}