footer.footer 
    .container 
        .footer__row 
            .footer__copyright &copy; 2022
            .footer__logo 
                img(src="./img/logo.svg", alt="Ледовый комплекс ЛУЧ")
            .footer__copyright Ледовый комплекс «Луч».  Все права защищены.
        .footer__row 
            .socials 
                h5.footer__socials-title Мы в соцсетях:
                ul.footer__socials-list
                    li
                        a(href="#!") VK
                    li
                        a(href="#!") OK
                    li
                        a(href="#!") Telegram
            .footer__privacy 
                a(href="#!") Политика конфеденциальности 
            .footer__address Москва,#[br]Волоколамское шоссе, д.88